@font-face{
    font-family: "Gothic A1";
    src: url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
}

@font-face{
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

body{
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0px;
    padding: 0px; 
    font-family: "Roboto";
    background-size: 100%;
    background-image: url("https://i.redd.it/92p34mtzd3y41.png");
    animation: fadeInHome 1s;
}

html{
    height: 100%;
}

nav{
    width: 100%;
}

#navList{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    margin: 10px;
    margin-bottom: 0px;
    font-size: 20px;
}

h1, h2{
    font-family: "Gothic A1";
}


#content{
    justify-content: center;
    background-color: white;
    height: 100%;
    width: 60%;
    margin: 0px;
    opacity: 90%;
    animation: fadeInDown .25s
}

header{
    display: flex; 
    align-items: center;
    flex-direction: column;
}

#headerTitle{
    font-size: 50px;
    margin: 0px;
    padding: 15px 0px 15px 0px;
    border-bottom: 2px solid black;
    width: 100%;
    text-align: center;
}

#main{
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px 10px;
    margin: 3% 3% 3% 3%;
}

#boxOne{
    border: black 2px solid;
    background: yellow;
    grid-column: 1/3;
    overflow-y: scroll;
}

#boxTwo{
    border: black 2px solid;
    background: yellow;
    grid-column: 3/4;
    overflow-y: scroll;
}

#boxThree{
    background: yellow;
    border: black 2px solid;
    grid-column: 4/5;
    grid-row: 1/3;
    overflow-y: scroll;
}

#boxFour{
    border: black 2px solid;
    background: yellow;
    grid-column: 1/2;
    overflow-y: scroll;
}

#boxFive{
    border: black 2px solid;
    background: yellow;
    grid-column: 2/4;
    overflow-y: scroll;
}

.thefront{
    background-color: lightgray;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Gothic A1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.theback{
    position: relative;
    background-color: yellow;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 20px;
}



@keyframes fadeInHome{
    from{
        opacity: 0;
        background-size: 90%;
        background-position-x: 50%;
    }

    to{
        opacity: 1;
        background-size: 100%;
    }
}


@media screen and (max-width: 1008px){
    body{
        height: auto;
    }

    #content{
        width: 85%;
    }

    #headerTitle{
        font-size: 35px;
    }

    #collegeSearchbar{
        height: 30px;
        font-size: 20px;
        width: 90%;
    }

    #apExamSearchbar{
        height: 30px;
        font-size: 20px;
        width: 90%;
    }

    #clickOnCourse{
        text-align: center;
    }
    
    #main{
        height: 1000px;
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px 10px;
        margin: 3% 3% 3% 3%;
    }

    #boxOne{
        border: black 2px solid;
        background: yellow;
        grid-column: 1/5;
        overflow-y: scroll;
    }
    
    #boxTwo{
        border: black 2px solid;
        background: yellow;
        grid-column: 1/5;
        overflow-y: scroll;
    }
    
    #boxThree{
        background: yellow;
        border: black 2px solid;
        grid-column: 1/5;
        grid-row: 3/4;
        overflow-y: scroll;
    }
    
    #boxFour{
        border: black 2px solid;
        background: yellow;
        grid-column: 1/5;
        overflow-y: scroll;
    }
    
    #boxFive{
        border: black 2px solid;
        background: yellow;
        grid-column: 1/5;
        overflow-y: scroll;
    }
    
    .thefront{
        background-color: lightgray;
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        font-family: Gothic A1;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .theback{
        position: relative;
        background-color: yellow;
        box-sizing: border-box;
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        padding: 10px;
        font-size: 20px;
    }

    li{
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
        display: flex;
        align-items: center;
    }
}













/*
@font-face{
    font-family: "Gothic A1";
    src: url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
}

@font-face{
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

body{
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0px;
    padding: 0px; 
    font-family: "Roboto";
    background-size: 100%;
    background-image: url("https://i.redd.it/92p34mtzd3y41.png");
    animation: fadeInHome 1s;
}

html{
    height: 100%;
}

nav{
    width: 100%;
}

#navList{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    margin: 10px;
    margin-bottom: 0px;
    font-size: 20px;
}

h1, h2{
    font-family: "Gothic A1";
}


#content{
    justify-content: center;
    background-color: white;
    height: 100%;
    width: 60%;
    margin: 0px;
    opacity: 90%;
    animation: fadeInDown .25s
}

header{
    display: flex; 
    align-items: center;
    flex-direction: column;
}

#headerTitle{
    font-size: 50px;
    margin: 0px;
    padding: 15px 0px 15px 0px;
    border-bottom: 2px solid black;
    width: 100%;
    text-align: center;
}

#main{
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px 10px;
    margin: 3% 3% 3% 3%;
}

#boxOne{
    border: black 2px solid;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: yellow;
    grid-column: 1/3;
}

#boxOne:hover{
    transform: rotateY(180deg);
}

#boxTwo{
    border: black 2px solid;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: yellow;
    grid-column: 3/4;
}

#boxTwo:hover{
    transform: rotateY(180deg);
}

#boxThree{
    border: black 2px solid;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: yellow;
    grid-column: 4/5;
    grid-row: 1/3;
}

#boxThree:hover{
    transform: rotateY(180deg);
}

#boxFour{
    border: black 2px solid;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: yellow;
    grid-column: 1/2;
}

#boxFour:hover{
    transform: rotateY(180deg);
}

#boxFive{
    border: black 2px solid;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: yellow;
    grid-column: 2/4;
}

#boxFive:hover{
    transform: rotateY(180deg);
}

.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: lightgrey;
    font-family: Gothic A1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.theback{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    backface-visibility: hidden;
    background-color: yellow;
    transform: rotateY(180deg);
    padding: 10px;
    font-size: 100%;
    overflow: hidden;
}



@keyframes fadeInHome{
    from{
        opacity: 0;
        background-size: 90%;
        background-position-x: 50%;
    }

    to{
        opacity: 1;
        background-size: 100%;
    }
}


@media screen and (max-width: 1008px){
    body{
        height: auto;
    }

    #content{
        width: 85%;
    }

    #headerTitle{
        font-size: 35px;
    }

    #collegeSearchbar{
        height: 30px;
        font-size: 20px;
        width: 90%;
    }

    #apExamSearchbar{
        height: 30px;
        font-size: 20px;
        width: 90%;
    }

    #clickOnCourse{
        text-align: center;
    }
    
    #main{
        height: 1000px;
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px 10px;
        margin: 3% 3% 3% 3%;
    }

    #boxOne{
        border: black 2px solid;
        -webkit-transform-style: preserve-3d;
        -webkit-transition: all 0.5s ease;
        background: yellow;
        grid-column: 1/5;
        grid-row: 1/2;
    }
    
    #boxOne:hover{
        -webkit-transform: rotateY(180deg);
    }
    

    #boxTwo{
        border: black 2px solid;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
        background: yellow;
        grid-column: 1/5;
        grid-row: 2/3;
    }
    
    #boxTwo:hover{
        transform: rotateY(180deg);
    }
    
    #boxThree{
        border: black 2px solid;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
        background: yellow;
        grid-column: 1/5;
        grid-row: 3/4;
    }
    
    #boxThree:hover{
        transform: rotateY(180deg);
    }
    
    #boxFour{
        border: black 2px solid;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
        background: yellow;
        grid-column: 1/5;
        grid-row: 4/5;
    }
    
    #boxFour:hover{
        transform: rotateY(180deg);
    }
    
    #boxFive{
        border: black 2px solid;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
        background: yellow;
        grid-column: 1/5;
        grid-row: 5/6;
    }
    
    #boxFive:hover{
        transform: rotateY(180deg);
    }

    .theback{
        font-size: 20px;
    }
}
/*
